%div{'data-role' => 'page'}
  %div{'data-role' => 'header'}
    %h1
      = @place.name
      
  %div{'data-role' => 'content'}
    %form{:action => '/checkins', :method => 'post'}
      %input{:type => 'hidden', :name => 'venue_id', :value => @place.id}
      %button{:type => "submit", 'data-theme' => 'a'}
        Check In
    = @place.address
    %br
    = @place.distance
    %br
    %img{:src => "#{@place.icon}"}
    %hr
    Price: 
    = @place.price_review
    Service: 
    = @place.service_review
    Food:
    = @place.food_review
    