%div{'data-role' => 'page'}
  %div{'data-role' => 'header'}
    %h1
      = @place.name
      
  %div{'data-role' => 'content'}
    %div{:class => 'star-rating'}
      %div{:class => 'current-rating', :style => "width:#{@place.rating_in_pixel('review_avg')}px"}
    
    %a{:href => "/checkins/#{@place.id}/new", 'data-role' => "button", 'data-theme' => 'a'}
      Check In
      
    = @place.address
    %br
    = @place.distance
    %br
    %img{:src => "#{@place.icon}"}
    %hr
    %h2
      Price
    %div{:class => 'star-rating'}
      %div{:class => 'current-rating', :style => "width:#{@place.rating_in_pixel('price_review')}px"}
    %h2
      Service
    %div{:class => 'star-rating'}
      %div{:class => 'current-rating', :style => "width:#{@place.rating_in_pixel('service_review')}px"}
    %h2
      Food
    %div{:class => 'star-rating'}
      %div{:class => 'current-rating', :style => "width:#{@place.rating_in_pixel('food_review')}px"}
    
