%div{'data-role' => 'page'}
  %div{'data-role' => 'header'}
    %h1
      = @place.name
      
  %div{'data-role' => 'content'}
    %a{:href => "/checkins/create/#{@place.id}", 'data-role' => "button"}
      Check In
    = @place.address
    %br
    = @place.distance
    %br
    %img{:src => "#{@place.icon}"}
    